@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/src/assets/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: transparent;
  font-family: 'JetBrains Mono', monospace;
  overflow: hidden;
}

#root {
  background: transparent;
}

@layer utilities {
  @keyframes gradient {
    0% {
      background-position: 0% 12%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 12%;
    }
  }

  .animate-gradient {
    animation: gradient 3s ease-in-out infinite;
  }

  @keyframes topBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }

  @keyframes bottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }

  .animate-bubble::before,
  .animate-bubble::after {
    content: "";
    position: absolute;
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.4s;
    background-repeat: no-repeat;
  }

  .animate-bubble::before {
    top: -75%;
    background-image: radial-gradient(circle, #00CED1 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, #00CED1 20%, transparent 30%),
      radial-gradient(circle, #00CED1 20%, transparent 20%),
      radial-gradient(circle, #00CED1 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #00CED1 15%, transparent 20%),
      radial-gradient(circle, #00CED1 20%, transparent 20%),
      radial-gradient(circle, #00CED1 20%, transparent 20%),
      radial-gradient(circle, #00CED1 20%, transparent 20%),
      radial-gradient(circle, #00CED1 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
    animation: topBubbles ease-in-out 0.75s forwards;
  }

  .animate-bubble::after {
    bottom: -75%;
    background-image: radial-gradient(circle, #00CED1 20%, transparent 20%),
      radial-gradient(circle, #00CED1 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #00CED1 15%, transparent 20%),
      radial-gradient(circle, #00CED1 20%, transparent 20%),
      radial-gradient(circle, #00CED1 20%, transparent 20%),
      radial-gradient(circle, #00CED1 20%, transparent 20%),
      radial-gradient(circle, #00CED1 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
    animation: bottomBubbles ease-in-out 0.75s forwards;
  }
}

::-webkit-scrollbar {
  width: 2px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
}

::-webkit-scrollbar-thumb {
  background-color: #8070d4;
}
